In [ ]:
Practical 3
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/shreeram312/DSBDA/main/student.csv')
df.dtypes
df['marks'].mean()
df['marks'].median()
df[['marks','roll','age']].std()
import numpy as np
np.std(df['marks'])
gr1 = df.groupby('class')
te = gr1.get_group('TE')
te.min()
te.max()
gr2 = df.groupby('age')
gr2.groups
tw = gr2.get_group(20)
tw

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/shreeram312/DSBDA/main/student.csv')

In [3]:
df.dtypes

roll       int64
name      object
class     object
marks    float64
age      float64
dtype: object

In [4]:
df['marks'].mean()

64.499

In [5]:
df['marks'].median()

64.31

In [6]:
df[['marks','roll','age']].std()

marks    9.207179
roll     3.027650
age      1.333333
dtype: float64

In [7]:
import numpy as np
np.std(df['marks'])

8.734696846485285

In [8]:
gr1 = df.groupby('class')

In [9]:
te = gr1.get_group('TE')

In [10]:
te.min()

roll           1
name     Ajinkya
class         TE
marks      56.75
age         20.0
dtype: object

In [11]:
te.max()

roll         9
name      Anil
class       TE
marks    69.66
age       22.0
dtype: object

In [12]:
gr2 = df.groupby('age')

In [13]:
gr2.groups

{19.0: [2, 6], 20.0: [4, 5, 8], 21.0: [1, 9], 22.0: [0], 23.0: [7]}

In [14]:
tw = gr2.get_group(20)

In [15]:
tw

   roll    name class  marks   age
4     5    Asha   NaN  63.28  20.0
5     6  Ayesha    BE  49.55  20.0
8     9    Amol    TE  56.75  20.0